---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="achievements">
  <!-- Section heading -->
  <header class="achievements__header">
    <h2 class="achievements__title-wrapper">
      {t("achievements.title")}<br />
      <span class="achievements__highlight">{t("achievements.highlight")}</span>
    </h2>
    <p class="achievements__subtitle">
      {t("achievements.subtitle")}
    </p>
  </header>

  <!-- Counts -->
  <div class="achievements__counts">
    <!-- Row 1 -->
    <div class="achievements__row">
      <!-- Item 1 -->
      <article class="achievements__item">
        <img src="/icon1.png" alt="Members icon" class="achievements__icon" />
        <div class="achievements__details">
          <p class="achievements__number">{t("chievements.number1")}</p>
          <p class="achievements__label">{t("achievements.label1")}</p>
        </div>
      </article>
      <!-- Item 2 -->
      <article class="achievements__item">
        <img src="/icon2.png" alt="Clubs icon" class="achievements__icon" />
        <div class="achievements__details">
          <p class="achievements__number">{t("achievements.number2")}</p>
          <p class="achievements__label">{t("achievements.label2")}</p>
        </div>
      </article>
    </div>
    <!-- Row 2 -->
    <div class="achievements__row">
      <!-- Item 3 -->
      <article class="achievements__item">
        <img
          src="/icon3.png"
          alt="Event bookings icon"
          class="achievements__icon"
        />
        <div class="achievements__details">
          <p class="achievements__number">{t("achievements.number3")}</p>
          <p class="achievements__label">{t("achievements.label3")}</p>
        </div>
      </article>
      <!-- Item 4 -->
      <article class="achievements__item">
        <img src="/icon4.png" alt="Payments icon" class="achievements__icon" />
        <div class="achievements__details">
          <p class="achievements__number">{t("achievements.number4")}</p>
          <p class="achievements__label">{t("achievements.label4")}</p>
        </div>
      </article>
    </div>
  </div>
</section>

<style>
  .achievements {
    height: 288px;
    width: 100%;
    background-color: var(--neutral-silver);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .achievements__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 540px;
    height: 120px;
  }

  .achievements__title-wrapper {
    width: 408px;
    height: 88px;
  }

  .achievements__title-wrapper,
  .achievements__highlight {
    font-size: 34px;
    line-height: 44px;
    margin: 0;
    font-weight: bolder;
  }

  .achievements__highlight {
    color: var(--primary-color);
  }

  .achievements__subtitle {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);
    color: #18191f;
    margin: 0;
    width: 100%;
  }

  .achievements__counts {
    width: 540px;
    height: 160px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .achievements__row {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 30px;
  }

  .achievements__item {
    display: flex;
    gap: 16px;
    width: 50%;
  }

  .achievements__icon {
    width: 48px;
    height: 48px;
  }

  .achievements__details {
    display: flex;
    flex-direction: column;
  }

  .achievements__number,
  .achievements__label {
    margin: 0;
  }

  .achievements__number {
    font-size: 28px;
    line-height: 36px;
    color: var(--neutral-d-grey);
    font-weight: bold;
  }

  .achievements__label {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);
    color: var(--neutral-grey);
  }

  @media (max-width: 575px) {
    .achievements {
      flex-direction: column;
      height: auto;
      gap: 24px;
      padding: 0 12px;
    }

    .achievements__header {
      width: 100%;
      height: auto;
      gap: 16px;
    }

    .achievements__title-wrapper {
      width: auto;
    }

    .achievements__highlight {
      font-size: 30px;
      line-height: 36px;
    }

    .achievements__subtitle {
      font-size: 16px;
      line-height: 24px;
    }

    .achievements__counts {
      width: 100%;
      height: auto;
      gap: 16px;
    }

    .achievements__row {
      flex-direction: column;
      gap: 16px;
      height: auto;
    }

    .achievements__item {
      width: 100%;
    }
  }
</style>
