---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { Image } from "astro:assets";
import UnlockImg from "../../public/unlock.png";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="feature">
  <figure class="feature__image-wrapper">
    <Image
      class="feature__image"
      src={UnlockImg}
      alt="Unlock"
      loading={"lazy"}
    />
  </figure>
  <div class="feature__content">
    <header class="feature__header">
      <h2 class="feature__title">{t("calender.title")}</h2>
      <p class="feature__description">
        {t("calender.description")}
      </p>
    </header>
    <button class="feature__button">{t("calender.button")}</button>
  </div>
</section>

<style>
  .feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    height: 433px;
    width: 100%;
  }

  .feature__content {
    width: 661px;
    height: 308px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .feature__header {
    width: 601px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .feature__title {
    font-size: 36px;
    line-height: 44px;
    color: var(--neutral-d-grey);
    font-weight: bolder;
    margin: 0;
  }

  .feature__description {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body3);
    color: var(--neutral-grey);
    height: 120px;
    width: 100%;
    margin: 0;
  }

  .feature__button {
    background-color: var(--primary-color);
    color: var(--neutral-white);
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);
    width: 151px;
    height: 52px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    cursor: pointer;
  }

  .feature__button:hover {
    background-color: #39883c;
  }

  @media (max-width: 575px) {
    .feature {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 24px;
      padding: 32px;
    }

    .feature__content {
      width: 100%;
      height: auto;
      gap: 24px;
    }

    .feature__header {
      width: 100%;
      height: auto;
      gap: 16px;
    }

    .feature__title {
      font-size: 28px;
      line-height: 36px;
    }

    .feature__description {
      font-size: 16px;
      line-height: 24px;
      height: auto;
    }

    .feature__button {
      width: 100%;
      height: 52px;
    }
  }
</style>
