---

---

<section class="clients">
  <header class="clients__header">
    <p class="clients__title">Our clients</p>
    <p class="clients__subtitle">
      We have been working with some Fortune 500+ clients
    </p>
  </header>
  <ul class="clients__list">
    <li class="clients__item">
      <img src="/clientlogo1.png" alt="Client 1 logo" class="clients__logo" />
    </li>
    <li class="clients__item">
      <img src="/clientlogo2.png" alt="Client 2 logo" class="clients__logo" />
    </li>
    <li class="clients__item">
      <img src="/clientlogo3.png" alt="Client 3 logo" class="clients__logo" />
    </li>
    <li class="clients__item">
      <img src="/clientlogo4.png" alt="Client 4 logo" class="clients__logo" />
    </li>
    <li class="clients__item">
      <img src="/clientlogo5.png" alt="Client 5 logo" class="clients__logo" />
    </li>
    <li class="clients__item">
      <img src="/clientlogo6.png" alt="Client 6 logo" class="clients__logo" />
    </li>
    <li class="clients__item">
      <img src="/clientlogo7.png" alt="Client 7 logo" class="clients__logo" />
    </li>
  </ul>
</section>

<style>
  .clients {
    padding: 2rem;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .clients__header {
    width: 1110px;
    height: 76px;
  }

  .clients__title {
    width: 100%;
    height: 44px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: var(--neutral-d-grey);
    margin: 0;
  }

  .clients__subtitle {
    width: 100%;
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);
    color: var(--neutral-grey);
    margin: 0;
  }

  .clients__list {
    display: flex;
    width: 1152px;
    height: 98px;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .clients__item {
    width: 48px;
    height: 48px;

    object-fit: cover;
  }

  .clients__logo {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
</style>
