---

---

<section class="hero">
  <div class="hero__content">
    <header class="hero__header">
      <h1 class="hero__title">Lessons and insights <br /></h1>
      <p class="hero__subtitle">from 8 years</p>
    </header>
    <p class="hero__description">
      Where to grow your business as a photographer: site or social media?
    </p>
    <button class="hero__button" type="button">Register</button>
  </div>
  <div class="hero__image-wrapper">
    <img
      src="/heroimg.png"
      alt="Photography business growth insights"
      class="hero__image"
    />
  </div>
</section>

<style>
  .hero {
    display: flex;
    align-items: center;
    padding: 96px 144px 96px 144px;
    gap: 104px;
    background-color: var(--neutral-silver);
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    height: 600px;
  }

  .hero__content {
    width: 657px;
    height: 276px;
  }

  .hero__header {
    margin-bottom: 1rem;
  }

  .hero__title {
    font-size: 64px;
    line-height: 76px;
    color: var(--neutral-d-grey);
    font-weight: 600;
    margin: 0;
  }

  .hero__subtitle {
    font-size: 64px;
    line-height: 76px;
    color: var(--primary-color);
    font-weight: 600;
    margin: 0;
  }

  .hero__description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--neutral-grey);
  }

  .hero__button {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--neutral-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);

    width: 128px;
    height: 52px;
  }

  .hero__button:hover {
    background-color: #0056b3;
  }

  .hero__image-wrapper {
    max-width: 45%;
  }

  .hero__image {
    width: 391px;
    height: 407px;
  }
</style>
