---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { Image } from "astro:assets";
import HeroImg from "../../public/heroimg.png";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="hero">
  <div class="hero__content animate__animated animate__fadeInLeft">
    <header class="hero__header">
      <h1 class="hero__title">{t("hero.title")}<br /></h1>
      <p class="hero__subtitle">{t("hero.subtitle")}</p>
    </header>
    <p class="hero__description">
      {t("hero.description")}
    </p>
    <button class="hero__button" type="button">{t("hero.button")}</button>
  </div>
  <div class="hero__image-wrapper animate__animated animate__fadeInRight">
    <Image class="hero__image" src={HeroImg} alt="Hero" loading={"eager"} />
  </div>
</section>

<style>
  .hero {
    display: flex;
    align-items: center;
    padding: 96px 144px 96px 144px;
    gap: 104px;
    background-color: var(--neutral-silver);
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    height: 600px;
    overflow: hidden;
  }

  .hero__content {
    width: 657px;
    height: 276px;
  }

  .hero__header {
    margin-bottom: 1rem;
  }

  .hero__title {
    font-size: 64px;
    line-height: 76px;
    color: var(--neutral-d-grey);
    font-weight: 600;
    margin: 0;
  }

  .hero__subtitle {
    font-size: 64px;
    line-height: 76px;
    color: var(--primary-color);
    font-weight: 600;
    margin: 0;
  }

  .hero__description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--neutral-grey);
  }

  .hero__button {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--neutral-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);

    width: 128px;
    height: 52px;
  }

  .hero__button:hover {
    background-color: #39883c;
  }

  .hero__image-wrapper {
    max-width: 45%;
  }

  .hero__image {
    width: 391px;
    height: 407px;
  }

  @media (max-width: 575px) {
    .hero {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      z-index: 1;
    }

    .hero__content {
      width: 100%;
      height: auto;
      padding: 30px 24px 0px 24px;
    }

    .hero__title,
    .hero__subtitle {
      font-size: 48px;
      line-height: 56px;
    }

    .hero__description {
      font-size: 16px;
      line-height: 24px;
    }

    .hero__button {
      width: 100%;
      height: 52px;
    }

    .hero__image-wrapper {
      max-width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 4rem;
    }

    .hero__image {
      width: 70%;
      height: auto;
    }
  }
</style>
