---

---

<nav class="nav" aria-label="Primary Navigation">
  <img src="/Logo.png" alt="Logo" class="nav__logo" />
  <div class="nav__container">
    <ul class="nav__list">
      <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
      <li class="nav__item">
        <a href="#features" class="nav__link">Features</a>
      </li>
      <li class="nav__item">
        <a href="#community" class="nav__link">Community</a>
      </li>
      <li class="nav__item"><a href="#blog" class="nav__link">Blog</a></li>
      <li class="nav__item">
        <a href="#pricing" class="nav__link">Pricing</a>
      </li>
    </ul>
  </div>
  <div class="nav__button-container">
    <button class="nav__button-login">Login</button>
    <button class="nav__button-signup">Sign up</button>
  </div>
</nav>

<style>
  .nav {
    display: flex;
    width: 1440px;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--neutral-silver);
  }

  .nav__logo {
    width: 154px;
    height: 24px;
  }

  .nav__container {
    display: flex;
    gap: 1rem;
  }

  .nav__list {
    display: flex;
    gap: 2.5rem;
  }

  .nav__item {
    list-style: none;
  }

  .nav__link {
    text-decoration: none;
    color: #18191f;
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);
  }

  .nav__button {
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .nav__button-container {
    display: flex;
    width: 182px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 14px;
  }

  .nav__button-login {
    width: 77px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #4caf4f;
    font-size: 14px;
    line-height: 20px;
  }

  .nav__button-signup {
    width: 91px;
    height: 40px;
    background-color: #4caf4f;
    border: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
  }
</style>
