---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav class="nav" aria-label="Primary Navigation">
  <div class="nav__container-imgs">
    <img src="/Logo.png" alt="Logo" class="nav__logo" />
    <img src="/logomobil.png" alt="Logo" class="nav__logo-mobil" />
    <img src="/BurgerIcon.png" alt="Burger-Icon" class="nav__logo-burger" />
  </div>
  <div class="nav__content">
    <div class="nav__container">
      <button class="nav__close">X</button>
      <ul class="nav__list">
        <li class="nav__item">
          <a href={translatePath("#services")} class="nav__link">
            {t("nav.service")}
          </a>
        </li>
        <li class="nav__item">
          <a href="#feature" class="nav__link">{t("nav.feature")} </a>
        </li>
        <li class="nav__item">
          <a href="#product" class="nav__link">{t("nav.product")} </a>
        </li>
        <li class="nav__item">
          <a href="#testimonial" class="nav__link">{t("nav.testimonial")} </a>
        </li>
        <li class="nav__item">
          <a href="#faq" class="nav__link">{t("nav.faq")} </a>
        </li>
      </ul>
    </div>
    <div class="nav__button-container">
      <button class="nav__button-login">
        {t("nav.login")}
      </button>
      <button class="nav__button-signup">
        {t("nav.signup")}
      </button>
      <select id="language-select" class="nav__button-select">
        {
          Object.entries(languages).map(([langCode, label]) => (
            <option
              value={langCode}
              selected={langCode === lang}
              class="nav__button-option"
            >
              {langCode.toLocaleUpperCase()}
            </option>
          ))
        }
      </select>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const selectElement = document.getElementById("language-select");
    const burgerIcon = document.querySelector(".nav__logo-burger");
    const navContent = document.querySelector(".nav__content");
    const navClose = document.querySelector(".nav__close");

    if (selectElement) {
      selectElement.addEventListener("change", (event) => {
        const target = event.target as HTMLSelectElement;
        if (target) {
          const selectedLang = target.value;
          const currentPath = window.location.pathname;
          if (selectedLang === "en") {
            window.location.href = "/";
            return;
          }
          window.location.href = `/${selectedLang}${currentPath}`;
        }
      });
    }

    if (burgerIcon && navContent) {
      burgerIcon.addEventListener("click", () => {
        navContent.classList.toggle("open");

        if (navClose) {
          navClose.addEventListener("click", () => {
            navContent.classList.remove("open");
          });
        }
      });
    }
  });
</script>

<style>
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1440px;
    height: 84px;
    background-color: var(--neutral-silver);
    margin: 0 auto;
  }

  .nav__logo {
    width: 154px;
    height: 24px;
    cursor: pointer;
  }

  .nav__logo-mobil,
  .nav__logo-burger {
    display: none;
  }

  .nav__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .nav__container {
    display: flex;
    gap: 1rem;
  }

  .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav__item {
    list-style: none;
  }

  .nav__link {
    text-decoration: none;
    color: #18191f;
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
  }

  .nav__link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;

    position: absolute;
    background: #4caf4f;
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
  }
  .nav__link:hover:after {
    width: 100%;
    left: 0;
  }

  .nav__button {
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .nav__button-container {
    display: flex;
    width: auto;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 14px;
  }

  .nav__logo-burger {
    cursor: pointer;
  }

  .nav__button-login {
    width: auto;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #4caf4f;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }

  .nav__button-signup {
    width: 91px;
    height: 40px;
    background-color: #4caf4f;
    border: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    cursor: pointer;
  }

  .nav__button-signup:hover {
    background-color: #39883c;
  }

  .nav__button-select {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 6px;
    color: #4caf4f;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }

  .nav__button-option {
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }

  @media (max-width: 575px) {
    .nav {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .nav__container-imgs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .nav__content {
      display: none;
      /* position: relative; */
    }

    .nav__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: #f5f5f5;

      z-index: 1000;
      width: 100%;
      position: absolute;
      top: 10px;
      height: 100vh;
      left: -100%; /* Posición inicial fuera de la vista */
      transition: left 0.3s ease-in-out; /* Transición suave */
    }

    .nav__content.open {
      left: 0;
      width: 100%;
    }

    .nav__close {
      display: block;
      /* background-color: red; */
      border: none;
      color: #18191f;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 1rem 2rem;
      font-size: 1.2rem;
    }

    .nav__container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      height: 100%;
    }

    .nav__list {
      flex-direction: column;
      height: auto;
      gap: 1.5rem;
      text-align: center;
      width: 100%;
    }

    .nav__list li:hover {
      background-color: #a3a3a3;
    }

    .nav__item {
      height: 50px;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav__link:after {
      display: none;
    }

    .nav__link:hover:after {
      width: 0;
      left: 50%;
    }

    .nav__link {
      font-size: 1.5rem;
    }

    .nav__list li:hover {
      background-color: #a3a3a3;
    }

    /* .nav__container, */
    .nav__button-container,
    .nav__logo {
      display: none;
    }

    .nav__logo-mobil {
      display: block;
      margin-right: auto;
    }

    .nav__logo-burger {
      display: block;
    }
  }
</style>
