---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="feature">
  <div class="feature__image-wrapper">
    <img src="/featureimg.png" alt="Feature image" class="feature__image" />
  </div>
  <div class="feature__content">
    <div class="feature__text">
      <p class="feature__headline">
        {
          t("feature.headline")
            .split("<br />")
            .map((line: string) => <>{line}</>)
        }
      </p>
      <p class="feature__description">
        {t("feature.description")}
      </p>
    </div>
    <button class="feature__button">{t("feature.button")}</button>
  </div>
</section>

<style>
  .feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    height: 433px;
    width: 100%;
  }

  .feature__image-wrapper {
    width: 442px;
    height: 433px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature__image {
    width: 441.53px;
    height: 328.99px;
    object-fit: cover;
  }

  .feature__content {
    width: 661px;
    height: 268px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0;
  }

  .feature__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 601px;
    height: 182px;
    margin-right: auto;
  }

  .feature__headline {
    font-size: 36px;
    line-height: 44px;
    font-weight: bolder;
    color: var(--neutral-d-grey);
    margin: 0;
  }

  .feature__description {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body3);
    color: var(--neutral-grey);
    margin: 0;
  }

  .feature__button {
    background-color: var(--primary-color);
    color: var(--neutral-white);
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);
    width: 151px;
    height: 52px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
  }

  @media (max-width: 575px) {
    .feature {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 24px;
    }

    .feature__image-wrapper {
      width: 100%;
      height: 328.99px;
    }

    .feature__image {
      width: 100%;
      height: 328.99px;
    }

    .feature__content {
      width: 100%;
      height: auto;
      padding: 0;
    }

    .feature__text {
      width: 100%;
      height: auto;
    }

    .feature__headline {
      font-size: 24px;
      line-height: 32px;
    }

    .feature__description {
      font-size: var(--font-size-body3);
      line-height: var(--line-height-body3);
    }

    .feature__button {
      width: 100%;
      height: 52px;
    }
  }
</style>
