---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="community">
  <!-- Community Header -->
  <header class="community__header">
    <h3 class="community__title">{t("updates.title")}</h3>
    <p class="community__description">
      {t("updates.description")}
    </p>
  </header>
  <!-- Community Cards -->
  <div class="community__cards">
    <article class="community__card">
      <img
        src="/updateimg1.png"
        alt="Article 1"
        class="community__card-image"
      />
      <div class="community__card-content">
        <p class="community__card-text">
          {t("updates.card1")}
        </p>
        <div class="community__card-action">
          <p class="community__card-readmore">{t("updates.buttom")}</p>
          <img
            src="/arrowgreen.png"
            alt="Arrow icon"
            class="community__card-arrow"
          />
        </div>
      </div>
    </article>
    <article class="community__card">
      <img
        src="/updateimg2.png"
        alt="Article 2"
        class="community__card-image"
      />
      <div class="community__card-content">
        <p class="community__card-text">
          {t("updates.card2")}
        </p>
        <div class="community__card-action">
          <p class="community__card-readmore">{t("updates.buttom")}</p>
          <img
            src="/arrowgreen.png"
            alt="Arrow icon"
            class="community__card-arrow"
          />
        </div>
      </div>
    </article>
    <article class="community__card">
      <img
        src="/updateimg3.png"
        alt="Article 3"
        class="community__card-image"
      />
      <div class="community__card-content">
        <p class="community__card-text">
          {t("updates.card3")}
        </p>
        <div class="community__card-action">
          <p class="community__card-readmore">{t("updates.buttom")}</p>
          <img
            src="/arrowgreen.png"
            alt="Arrow icon"
            class="community__card-arrow"
          />
        </div>
      </div>
    </article>
  </div>
</section>

<style>
  .community {
    width: 100%;
    height: 506px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .community__header {
    width: 1110px;
    height: 124px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  .community__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: var(--neutral-d-grey);
    margin: 0;
  }

  .community__description {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body2);
    color: var(--neutral-grey);
    text-align: center;
    margin: 0;
    width: 628px;
    height: 72px;
  }

  .community__cards {
    width: 100%;
    height: 366px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 144px;
  }

  .community__card {
    width: 368px;
    height: 366px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .community__card-image {
    width: 368px;
    height: 286px;
    border-radius: 8px;
  }

  .community__card-content {
    width: 317px;
    height: 176px;
    background-color: var(--neutral-silver);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: -35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .community__card-text {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--neutral-grey);
    width: 285px;
    height: auto;
    margin: 0;
  }

  .community__card-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .community__card-readmore {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--primary-color);
    margin: 0;
  }

  .community__card-arrow {
    width: 24px;
    height: 24px;
  }

  @media (max-width: 575px) {
    .community {
      height: auto;
      gap: 24px;
      padding: 0 12px;
    }

    .community__header {
      width: auto;
      height: auto;
      gap: 16px;
    }

    .community__title {
      font-size: 24px;
      line-height: 32px;
    }

    .community__description {
      font-size: var(--font-size-body3);
      line-height: var(--line-height-body3);
      width: 100%;
      height: auto;
    }

    .community__cards {
      flex-direction: column;
      height: auto;
      gap: 24px;
      padding: 0 12px;
    }

    .community__card {
      width: 100%;
      height: auto;
      gap: 24px;
    }

    .community__card-image {
      width: 100%;
      height: auto;
    }

    .community__card-content {
      width: 100%;
      height: auto;
      gap: 24px;
      padding: 0 12px;
    }

    .community__card-text {
      font-size: 20px;
      line-height: 28px;
      width: 100%;
    }

    .community__card-action {
      gap: 8px;
    }

    .community__card-readmore {
      font-size: 16px;
      line-height: 24px;
    }

    .community__card-arrow {
      width: 16px;
      height: 16px;
    }
  }
</style>
